[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

[Aa]ssets/_Recovery/
[Aa]ssets/_Recovery.meta

[Aa]ssets/[Ss]treamingAssets/aa.meta

# IDE files
.vscode/
.idea/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity generated local files
sysinfo.txt
*.stacktrace

# Build outputs
*.apk
*.aab
*.unitypackage
*.app
*.exe
*.dSYM
*.ipa
*.xcodeproj
*.xcworkspace
*_Data/
*_BurstDebugInformation_DoNotShip/
MonoBleedingEdge/
D3D12/
UnityPlayer.dll
UnityCrashHandler64.exe
dstorage.dll
dstoragecore.dll
